.userDropdown {
  display: none;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.bottomShadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 25px -20px;
}
